header { background-color: #000; color: #fff; }

header #logo { font-size: 24px; }

header nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

header nav ul li a { display: block; padding: 20px 40px; }

header nav ul li a:hover { color: #b31313; }
